@import "tailwindcss";

html {
  /* Scales the layout to 90% */
  zoom: 0.8; 
  /* Fallback for browsers that don't support zoom (like Firefox) */
  -moz-transform: scale(0.8);
  -moz-transform-origin: 0 0;
}
@layer utilities {
  .animate-marquee {
    display: flex;
    width: max-content;
    animation: marquee 30s linear infinite;
  }

  .animate-marquee-reverse {
    display: flex;
    width: max-content;
    animation: marquee-reverse 30s linear infinite;
  }

  @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }

  @keyframes marquee-reverse {
    0% { transform: translateX(-50%); }
    100% { transform: translateX(0); }
  }

  /* This ensures the scroll stays hidden while moving */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}